*, html{
    margin: 0px;
    padding: 0px;
}
.conteiner-general{
    width: 100%;
    height: 100vh;
}
.subcontenedores{
    height: 100%;
    width: 100%;
}
.contenedor1{
    background-color: #D9D9D9;
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.arriba{
    width: 50%;
    height: 100%;
}
#AR1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#AR2{
display: flex;
align-items: center;
justify-content: flex-end;
}
.ar-izquierda{
    width: 40%;
    height: 90%;
    margin-left: 2%;
}
#logo-image{
    height: 100%;
    width: 100%;
}
.ar-derecha{
    margin-right: 1%;
    width: 20%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.contenedor2{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
 background-size: cover;
    background-image: url("https://www.intel.com/content/dam/www/central-libraries/us/en/images/2023-09/adobestock-620190621.jpeg"); 
}
#img2{
    height: 100%;
    width: 100%;
}

.cont2-1{
    width: 50%;
    height: 100%;
}
.cont2-2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto1{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.ingresar{
    width: 30%;
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.contenedor3{
    background-color: brown;
    width: 100%;
    height: 70%;
}
.texto2{
    background-color: white;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cuadro-central{
    background-color: cadetblue;
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
}
.c-central{
    width: 100%;
    height: 90%;
    margin: 15px;
}
#arqui{
    height: 100%;
    width: 100%;
}
#farmacia{
    width: 100%;
    height: 100%;
}
#administracion{
    width: 100%;
    height: 100%;
}
#robotica{
    width: 100%;
    height: 100%;
}
.cuadro-central2{
    background-color: rgb(83, 146, 109);
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.c-central2{
    background-color: rgb(202, 198, 198);
    width: 100%;
    height: 60%;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contenedor4{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.texto3{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.con4-2{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}
.cont4-2-den1{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#cont4-2-den1{
    width: 60%;
    height: 80%;
    background-color: black;
    margin-left: 7rem;
    margin-top: 10px;

}
.con4-2-dentro2{
    width: 50%;
    height: 100%;
}
.info{
    background-color: rgb(202, 198, 198);
    width: 100%;
    height: 9%;
    margin-top: 22px;
    display: flex;
    align-items: center;
}
.contenedor5{
    background-color: blue;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}
#izquierda{
    background-color: blueviolet;
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.iz-abajo{
    background-color: black;
    width: 70%;
    height: 70%;
    margin-left: 30px;
}
#centro{
    background-color: brown;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.ab-centro{
    background-color: rgb(0, 255, 13);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ab-c-dentro1{
    background-color: blue;
    width: 90%;
    height: 10%;
    margin-top: 35px;
}
.ab-c-dentro2{
    background-color: blue;
    width: 50%;
    height: 10%;
    margin-top: 15px;
}
.ab-c-dentro3{
    background-color: blue;
    width: 70%;
    height: 10%;
    margin-top: 15px;
}
.ab-c-dentro4{
    background-color: blue;
    width: 30%;
    height: 10%;
    margin-top: 15px;
}
.ab-c-dentro5{
    background-color: blue;
    width: 40%;
    height: 10%;
    margin-top: 15px;
}
#abajo-derecha{
    background-color: black;
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.cuadro-derecha{
    background-color: white;
    width: 25%;
    height: 20%;
    margin-left: 8px;
    margin-top: 30px;
}
